PORT=3000
NODE_ENV=production

# Neon Database URL
DATABASE_URL=postgresql://neondb_owner:your_password@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require

JWT_SECRET=change_this_to_a_strong_secret
JWT_EXPIRES_IN=24h
JWT_REFRESH_SECRET=change_this_to_another_strong_secret
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=12
